# Kingdee K3 Cloud Configuration
KINGDEE_BASE_URL=https://gljwl.ik3cloud.com
KINGDEE_ACCT_ID=20210324173947733
KINGDEE_USERNAME=admin
KINGDEE_PASSWORD=ca058a5dfe9b4d90813b9590bc646590
KINGDEE_APP_ID=454962_WdbB3dhuTpH/7YUFRYxo3YzM0MX90BMo
KINGDEE_LCID=2052
